@import "./variables"

.Btn
  background transparent
  border-radius 3px
  box-shadow none
  cursor pointer
  font 300 13px $rubik
  outline none
  transition all ease .3s

  &:focus
    outline: none;

.Btn__clean--white
  @extend .Btn
  border 2px solid #FFF
  color #FFF
  min-width 100px
  padding 10px 15px

  &:hover
    background $blue-color
    color #FFF

.Btn__clean--blue
  @extend .Btn
  border 2px solid $blue-color
  color $blue-color
  min-width 100px
  padding 10px 15px

  &:hover
    background $blue-color
    color #FFF

.Btn__clean--small
  @extend .Btn
  background none
  border 1px #FFF solid
  color #FFF
  font-size 14px
  font-weight 600
  height 40px
  margin-bottom 30px
  transition background-color .3s ease
  width 100%

  &:active
    background-color $primary-color
    transition background-color .3s ease
