@font-face
  font-family 'Rubik'
  font-style normal
  font-weight 200
  src: local('Rubik-Light'), url('assets/fonts/Rubik-Light.ttf') format('truetype')

@font-face
  font-family 'Rubik'
  font-style italic
  font-weight 200
  src: local('Rubik-LightItalic'), url('assets/fonts/Rubik-LightItalic.ttf') format('truetype')

@font-face
  font-family 'Rubik'
  font-style normal
  font-weight 400
  src: local('Rubik-Regular'), url('assets/fonts/Rubik-Regular.ttf') format('truetype')

@font-face
  font-family 'Rubik'
  font-style italic
  font-weight 400
  src: local('Rubik-Italic'), url('assets/fonts/Rubik-Italic.ttf') format('truetype')

@font-face
  font-family 'Rubik'
  font-style normal
  font-weight 500
  src: local('Rubik-Medium'), url('assets/fonts/Rubik-Medium.ttf') format('truetype')

@font-face
  font-family 'Rubik'
  font-style italic
  font-weight 500
  src: local('Rubik-MediumItalic'), url('assets/fonts/Rubik-MediumItalic.ttf') format('truetype')

@font-face
  font-family 'Rubik'
  font-style bold
  font-weight 200
  src: local('Rubik-Bold'), url('assets/fonts/Rubik-Bold.ttf') format('truetype')

@font-face
  font-family 'Rubik'
  font-style bold
  font-weight 200
  src: local('Rubik-BoldItalic'), url('assets/fonts/Rubik-BoldItalic.ttf') format('truetype')
