$rubik = "Rubik", Arial, sans-serif

$primary-color = #40C5E7
$sec-color = #6EF83E
$trd-color = #B9B9B9
$danger-color = #FF3636
$green-color = #2CE46A
$red-color = #E42D2C
$blue-color = #40A2CB
$yellow-color = #F3F035
